body{
  background:linear-gradient(to right, rgba(255,0,0,0), rgb(201, 109, 109));

}

.main-header
{ 
    margin: auto;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    margin-top:30px;
}
.button{
    border-radius: 25px;
    display:flex;
    border:none;
    
}
.class
{
    border:none;
    color:white;
}
.container-display
{
    margin:auto;
 width:200px;
 font-family: 'Courier New', Courier, monospace;
/* box-shadow: 3px 3px 5px 1px rgb(109, 97, 97);
 background-color:grey;*/
 padding: 20px;
 display:flex;
 justify-content:space-evenly ;
 margin-top: 20px;
}
#img{
    border-radius: 50%;
}


#profilephoto{
    width:50px;
    height:30px;
}
.deatils
{
    margin: 25px;
    
}